In [1]:
list("hello")

['h', 'e', 'l', 'l', 'o']

In [2]:
"".join(['a','b','c'])

'abc'

In [3]:
x = [1,2,3]
x[0]=-1
x

[-1, 2, 3]

In [4]:
del x[0]
x

[2, 3]

In [7]:

name = list("Tom")
name[1:] = list("im")
name

['T', 'i', 'm']

In [8]:
# insert
x = [1,5]
x[1:1] = [2,3,4]
x

[1, 2, 3, 4, 5]

In [9]:
# delete
x[1:4] = []
x

[1, 5]

In [16]:
x = [1,2,3,4,5]
x.append(6)
x

[1, 2, 3, 4, 5, 6]

In [18]:
x = [1,2,3,4,5]
x.clear()
x

[]

In [20]:
# copy
x = [1,2,3,4,5]
y = x
y[0] = 0
x, y

([0, 2, 3, 4, 5], [0, 2, 3, 4, 5])

In [21]:
x = [1,2,3,4,5]
y = x.copy()
y[0] = 0
x, y

([1, 2, 3, 4, 5], [0, 2, 3, 4, 5])

In [23]:
s = ['to', 'be', 'or', 'not', 'to', 'be']
s.count('to')

2

In [24]:
x = [[1, 2], 1, 1, [2, 1, [1, 2]]]
x.count(1), x.count([1,2])

(2, 1)

In [26]:
a = [1,2,3]
b = [4,5,6]
a.extend(b)
b[0] = 8
a, b

([1, 2, 3, 4, 5, 6], [8, 5, 6])

In [27]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b # a不变 a = a + b效率低
a, b

([1, 2, 3], [4, 5, 6])

In [28]:
a = [1, 2, 3]
b = [4, 5, 6]
a[len(a):] = b
a, b

([1, 2, 3, 4, 5, 6], [4, 5, 6])

In [29]:
knights = ['We', 'are', 'the', 'knights', 'who', 'say', 'ni']
knights.index('say')

5

In [30]:
numbers = [1, 2, 3, 5, 6, 7]
numbers.insert(3, 'four')
numbers

[1, 2, 3, 'four', 5, 6, 7]

In [32]:
x = [1,2,3]
x[1:1] = [4]
x

[1, 4, 2, 3]

In [33]:
x = [1, 2, 3]
x.pop()
x

[1, 2]

In [34]:
x = [1,2,3]
x.pop(0)
x

[2, 3]

In [35]:
x = ['to', 'be', 'or', 'not', 'to', 'be']
x.remove('be')
x

['to', 'or', 'not', 'to', 'be']

In [36]:
x = [1,2,3]
x.reverse()
x

[3, 2, 1]

In [38]:
x = [4, 6, 2, 1, 7, 9]
x.sort() # sort no return value
x

[1, 2, 4, 6, 7, 9]

In [39]:
x = [4,5,6,1,2,3]
y = x.copy()
y.sort()
x, y

([4, 5, 6, 1, 2, 3], [1, 2, 3, 4, 5, 6])

In [40]:
x = [4,5,6,1,2,3]
y = sorted(x)
x, y

([4, 5, 6, 1, 2, 3], [1, 2, 3, 4, 5, 6])

In [41]:
sorted('Python') # sorted suit any iterable object

['P', 'h', 'n', 'o', 't', 'y']

In [42]:
x = ['aardvark', 'abalone', 'acme', 'add', 'aerate']
x.sort(key=len)
x

['add', 'acme', 'aerate', 'abalone', 'aardvark']

In [43]:
x = [4, 6, 2, 1, 7, 9]
x.sort(reverse=True)
x

[9, 7, 6, 4, 2, 1]